* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  background-color: grey;

  list-style: none;
  text-decoration: none;
  background: #070724;
  background-image: url("./assets/background-stars.svg");
}

img {
  display: block;
  width: 100%;
}
